@media (max-width: 1439px) {
    .header_main_title{
        font-size: 30px;
        width: 100%;
    }
    .header_main_subtitle{
        font-size: 18px;
        width: 100%;
    }
    .services_titel{
        font-size: 30px;
        width: 100%;
    }
    .services_item{
        font-size: 16px;
        width: 100%;
    }
    .start_title{
        font-size: 30px;
        width: 100%;
    }
    .start_img{
        width: 40%;
    }
    .communitytitle{
        font-size: 30px;
    }
    .communitysubtitle{
        font-size: 16px;
    }
}

@media (max-width: 1050px){
    .comunity{
        margin: 200px 0px;
    }
    .comunitycontain{
        width: 100%;
        margin: 0;
        background-color: rgba(255, 255, 255, 0.4);
    }
}

@media (max-width: 850px){
    nav, .header_main{
        padding: 15px;
    }
    .nav_link{
        font-size: 16px;
    }
    .nav_btn{
        font-size: 16px;
        padding: 7px 10px;
    }
    .services{
        padding: 0px 10px;
    }
    .start{
        margin: 0px 10px;
    }
}

@media (max-width: 829px){
    .services_list{
        padding: 0px;
    }
}

@media (max-width: 580px) {
    nav{
        padding: 0;
        width: 100%;
    }
    .nav_list{
        margin: 0;
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        width: 160px;
        padding: 12px 0;
        padding-left: 16px;
        z-index: 1;
        right: 10px;
    }
    .dropdown_btn{
        display: block;
    }
    .dropdown {
        position: relative;
        display: inline-block;
    }
    .dropdown:hover .nav_list{
        display: block;
    }

    .header_main{
        flex-wrap: wrap-reverse;
        
    }
    .header_main_info, .header_main_img{
        width: 100%;
    }
    .services{
        flex-wrap: wrap;
        margin: 0px;
        margin-top: 50px;
        padding: 0;
    }
    .services_img{
        width: 100%;
    }
    .services_contain{
        width: 100%;
    }
    .start{
        padding: 0;
        flex-wrap: wrap-reverse;
        margin: 0;
        margin-top: 50px;
    }
    .start_title{
        width: 100%;
    }
    .start_img{
        width: 100%;
    }
    .comunity{
        width: 100%;
        margin: 0;
        padding: 0;
        margin-top: 100px;
        background-position: center;
    }
    .comunitycontain{
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .communitytitle{
        font-size: 26px;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .communitysubtitle{
        font-size: 10px;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    footer{
        flex-direction: column;
    }
    .footercontain{
        margin: 0;
    }
    .ellipse1_2, .ellipse3_4{
        display: none;
    }
}